*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style:none;
    text-decoration:none;
    font-family:arial;
}
/* header first start  */
.header-first{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:1rem;
    width:100%;
    height:10vh;
    background-color:#dd8500;
    transition:all 0.4s ease;
}
.header-first h2{
    font-weight:400;
    color:white;
    font-size:1rem;
    transition:all 0.4s ease;
}
.header-first button{
    border:none;
    background-color:#f2c179;
    color:black;
    padding:0.3rem 1.5rem;
    font-size:1rem;
    border-radius:.2rem;
    transition:all 0.4s ease;
}
/* header first end  */
/* nav start  */
nav{
    width:100%;
    height:15vh;
    background-color:rgb(255, 255, 255);
    display:flex;
    justify-content:space-between;
    align-items:center;
    transition:all 0.4s ease;
}
nav ul li{
    display:inline-block;
    margin-right:2rem;
    transition:all 0.4s ease;
}
nav ul li a{
    color:rgb(0, 0, 0);
    transition:all 0.4s ease;
}
nav ul li a:hover,.active{
    color:#441dde;
    transition:all 0.4s ease;
}
.logo{
    margin-left:1rem;
    transition:all 0.4s ease;
}
nav h1{
    position:absolute;
    right:0;
    transition:all 0.4s ease;
    display:none;
}
/* nav end */
/* header banner start  */
.header-banner{
    width:100%;
    height:100vh;
    background-image:linear-gradient(rgba(0,0,0,0.70),rgba(0,0,0,0.70)),url(images/background.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    transition:all 0.4s ease;
}
.header-banner-text{
    display:flex;
    flex-direction:column;
    width:50%;
    height:auto;
    color:white;
    gap:2rem;
    margin-left:5rem;
    padding-top:2rem;
    transition:all 0.4s ease;
}
.header-banner-text h1{
    font-size:4rem;
    transition:all 0.4s ease;
}
.header-banner-text h3{
    font-size:2.5rem;
    color:#f2c179;
    transition:all 0.4s ease;
}
.header-banner-text h4{
    font-size:1.6rem;
    font-weight:400;
    transition:all 0.4s ease;
    line-height:2.5rem;
}
/* header banner end */
/* responsive tablet approach start  */
@media screen and (min-width: 576px) and (max-width: 992px){
    .header-first{
        height:auto;
        padding:1rem;
        text-align:center;
        flex-direction:column;
        transition:all 0.4s ease;
    }
    .header-banner{
        width:100%;
        height:60vh;
        transition:all 0.4s ease;
    }
    .header-banner-text{
        width:70%;
        height:70vh;
        text-align:left;
        margin-left:1rem;
        padding-top:2rem;
        transition:all 0.4s ease;
    }
    .header-banner-text h1{
        font-size:3rem;
        transition:all 0.4s ease;
    }
    .header-banner-text h3{
        font-size:2rem;
        transition:all 0.4s ease;
    }
    .header-banner-text h4{
        font-size:1rem;
        transition:all 0.4s ease;
    }
}
/* responsive tablet approach end */
/* responsive mobile approach start  */
@media screen and (max-width: 576px) {
    .header-first{
        height:auto;
        padding:1rem;
        text-align:center;
        flex-direction:column;
        transition:all 0.4s ease;
    }
    .logo{
        width:8rem;
        transition:all 0.4s ease;
    }
    nav ul li{
        display:none;
        position:relative;
        top:6rem;
        right:6rem;
        transition:all 0.4s ease;
    }
    nav h1{
        display:block;
        margin-right:2rem;
        transition:all 0.4s ease;
    }
    .header-banner{
        width:100%;
        height:auto;
        transition:all 0.4s ease;
    }
    .header-banner-text{
        width:100%;
        height:70vh;
        text-align:left;
        margin-left:1rem;
        transition:all 0.4s ease;
    }
    .header-banner-text h1{
        font-size:2rem;
        transition:all 0.4s ease;
    }
    .header-banner-text h3{
        font-size:2rem;
        transition:all 0.4s ease;
    }
    .header-banner-text h4{
        font-size:1rem;
        transition:all 0.4s ease;
    }
}
/* responsive mobile approach end */